/*Colors*/
$color1:#6b086b;
$color2:#e3a42f;
$color3:#000;
$color4:#fff;

header{
    background-image: url(Images/Vocabulary.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    padding: 20px;

    .title{
        background-color: $color1;
        border-radius: 50px;
        width: 260px;
        text-align: center;
        margin: auto;
    }

    .title h1{
        font-size: 30px;
        font-family: 'Princess Sofia';
        padding: 30px;
        font-size: 50px;
        color: $color4;
        text-shadow: 0 0 5px $color3;
        background-size: cover;
    }
}

