/*Colors*/
$color1:#6b086b;
$color2:#e3a42f;
$color3:#000;
$color4:#fff;

@font-face {
    font-family: 'Montserrat';
    src: url(Fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Princess Sofia';
    src: url(Fonts/PrincessSofia-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "_navbar";

/*index*/
section {
    background-color: $color1;
    height: 300px;

    #logo{
        border-radius: 15px;
    }

    .logo{
        border: $color1 solid 30px;
        border-bottom: 10px;
        text-align: center;
    }
}

#welcome{
    background-color:$color3;
    color: $color4;
    font-family: 'Montserrat';
    padding: 20px;
    text-align: center;
}

.welcome .wright{
    background-image: url(Images/sho.jpg);
    background-size: cover;
    background-position:center;
    height: 300px;
    width: 100%;
}

.welcome p{
    font-family: 'Montserrat';
    padding: 20px;
    text-align: justify;
}

.welcome h2{
    font-size: 60px;
    color: $color1;
    font-family: 'Princess Sofia';
    text-align: center;
    margin-top: 20px;
}

/*Grammar*/
.form{
    border: solid $color1 5px;
    width: 50%;
    margin: 10px;

}

.form-control{
    border: dotted $color2;
    padding: 10px;
    height: 20px;
    width: 70px;
}

.verb{
    background-position: center;
    background-size: cover;
    border: solid $color2 5px;
    margin: 60px;
        h3{
            margin: 10px;
        }
}

/*vocabulary*/
@import "_header.scss";

main .subtitle h2{
    font-family: "Montserrat";
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border: 10px solid $color2;
    margin-top: -20px;
}

.vocabulary{
    background-color: $color1;
    height:auto;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    padding: 20px;
    grid-gap: 20px;
}

.item{
    border: 3px solid $color3;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    transition: all 0.9s;
    filter: grayscale(100%);
}

.item:hover{
    transform: scale(1.2);
    filter: grayscale(0%);
}

.item1{
    background-image: url(Images/Lion.jpg);
}

.item2{
    background-image: url(Images/Dolphin.png);
}

.item3{
    background-image: url(Images/Eagle.jpg);
}

.item4{
    background-image: url(Images/Monkey.jpg);
}

.item5{
    background-image: url(Images/Elephant.jpg);
}

.item6{
    background-image: url(Images/Giraffe.jpeg);
    background-position: top;
}

.item7{
    background-image: url(Images/Zebra.jpg);
}

.item8{
    background-image: url(Images/Penguin.jpg);
    background-position: top;
}

main {
    margin-top: 20px;
    font-family: "Montserrat";
    text-align: center;
    display: flexbox;
}

@import "_footer.scss";

/*Speaking*/
/*Reading*/
/*Listening/



/*media queries*/

@media only screen and (max-width: 320px){
    nav ul li{
        font-size: 15px;
    }
    footer .book a{
        font-size: 15px;
        padding: 15px 5px;
        right: -10px;
    }
}

@media only screen and (min-width: 480px){
    .vocabulary{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4,200px);
    }  
    nav ul li{
        position: relative;
        top: 20px;
        margin: 2px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 600px){
    nav ul li{
        position: relative;
        top: 20px;
        margin: 6px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 768px){
    .vocabulary{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2,200px);
    }  
    nav ul li{
        position: relative;
        top: 30px;
        right: 80px;
    }
}

@media only screen and (min-width: 900px){
    nav ul li{
        position: relative;
        top: 30px;
        right:5px;
    }
}